body {
  font-size: 12pt;
  position: relative;
  background: #eff0eb;
}

.describe {
  background-color: rgb(199, 203, 207);
  padding: 10px;
  font-family: serif;
  height: 100%;
}

h1 {
  margin-top: 15px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

p {
  margin-top: 15px;
  font-size: 1.2em;
}

fieldset.scheduler-border {
  border: solid 1px #DDD !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
}

legend.scheduler-border {
  width: auto !important;
  border: 25px;
  font-weight: 600;
}

fieldset.scheduler-border-order {
  border: solid 3px rgb(170, 216, 45) !important;
  padding: 0 10px 10px 10px;
}

.card, fieldset.scheduler-border {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.errormsg{
  color:#f75c4e;
}
.error {
  background:#ffecec url('img/Close.png') no-repeat 10px 50%;
  border:1px solid #f5aca6;
}
.success {
  background:#e9ffd9 url('img/Tick.png') no-repeat 10px 50%;
  border:1px solid #a6ca8a;
}
.notice {
  background:#e3f7fc url('img/Notice.png') no-repeat 10px 50%;
  border:1px solid #8ed9f6; 
  display: flex;
  justify-content: center;
  margin: 1rem auto;
 
}
.alert-box {
  color:#555;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:14px;
  padding:10px 36px;
  margin:10px;
}

.alert-boxx {
  color:#555;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:14px;
  padding:10px 36px;
  display: flex;
  max-width: 500px;
  margin: 1rem auto;
}